body {
  background-color: black;
}

h1, h2, h3, .comment {
  color: lightblue;
  margin-left: 20px;
}

.displayed {
  display: block;
  margin-left: auto;
  margin-right: auto
}

/* wildcard styling */
* {
    box-sizing: border-box;
}

/* padding for whole body */
body {
    padding: 15px;
}

/* styling body */
.container {
    max-width: 1200px;
    margin: auto;
}

h1 {
    color: green;
}

/* anchor tag decoration */
a {
    text-decoration: none;
    color: #5673C8;
}

a:hover {
    color: lightblue;
}

/* paragraph tag decoration */
p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    overflow: scroll;
}

.comment
{
  font-style: italic;
  text-align: left;
}
/* row and column decoration */
.row {
    margin: 0px -5px;
    padding: 8px;
}

.row > .column {
    padding: 6px;
}

.column {
    float:left;
    width: 33%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* content decoration */
.content {
    background-color: white;
    padding: 10px;
    border: 1px solid gray;
}

/* window size 850 width set */
@media screen and (max-width: 850px) {
    .column {
        width: 50%;
    }
}

/* window size 400 width set */
@media screen and (max-width: 400px) {
    .column {
        width: 100%;
    }
}
